.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    a {
      margin-right: 15px;

      &.active{
        background-color: aqua;
      }
    }
  }
}


