.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .links {
    a {
      margin-right: 15px;

      &.active{
        background-color: aqua;
      }
    }
  }
}


mat-toolbar{
  background-color: aquamarine;
}

