<form #form="ngForm" (ngSubmit)="sumbit(form)">
  <div>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input
          placeholder="email"
          ngModel
          type="email"
          required
          email
          name="email"
          #email="ngModel"
          matInput
        />
      </mat-form-field>
      <mat-error
        style="color: red"
        *ngIf="!email.valid && email.touched && email.hasError('required')"
      >
        Email is required
      </mat-error>
      <mat-error
        style="color: red"
        *ngIf="!email.valid && email.touched && email.hasError('email')"
      >
        Email must be a valid email format
      </mat-error>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input
          placeholder="Password"
          matInput
          ngModel
          type="password"
          required
          name="password"
          #password="ngModel"
        />
      </mat-form-field>

      <mat-error
        style="color: red"
        *ngIf="
          !password.valid && password.touched && password.hasError('required')
        "
      >
        Email is required
      </mat-error>
    </div>
    <div class="form-control">
      <button type="submit" [disabled]="!form.valid" mat-button color="primary">Login</button>
    </div>
  </div>
</form>
