<h1>Hello Elbit</h1>
<hr />

<h2>My shoppoing cart:</h2>

<div class="shopping-cart">
  <app-book
    [book]="book"
    [itemInCart]="true"
    (removeFromCart)="removeFromCartHandler($event)"
    *ngFor="let book of shoppingCart"
  ></app-book>
</div>

<hr />
<h2>Feed:</h2>

<div class="books">
  <app-book
    [book]="book"
    [itemInCart]="checkIfItemInCart(book)"
    (addToCart)="addToCartHandler($event)"
    (removeFromCart)="removeFromCartHandler($event)"
    *ngFor="let book of books"
  ></app-book>
</div>
